<!DOCTYPE>
<html>
    <head>
        <title>TimeBomb</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css"></link>
        <link rel="stylesheet" href="/stylesheets/app.css"></link>
    </head>
    <body>
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a href="/friends" class="active item" id="title">
          TimeBomb
        </a>
        <a href="/friends/new" class="item">
          Friends
        </a>
        <a href="/friends" class="item">
          Messages
        </a>
        <a href="/friends/*" class="right item">
            Logout
        </a>
      </div>
    </div>
    <div class="container">