<% include partials/header %>

<div class="ui text container">
    <div class="ui header"><h1>Friends</h1></div>
    <% friends.forEach(function(friend) { %>
        <h2><%= friend.name %></h2>
        <img src="<%=friend.image%>">
        <span><%= friend.created %></span>
        <h5><% friend.text %></h5>
    <% }) %>
</div>
<% include partials/footer %>
