<% include partials/header %>

    <div class="jumbotron">
        <h1>Welcome to your Home page</h1>        
    </div>
    <div class="row">
        <% friends.forEach(function(friend) { %>
            <div class="col-lg-6 col-sm-2">
                <%= friend.name %>
                <img src="<%= friend.image %>">
            </div>    
        <% }); %>
    </div>

<% include partials/footer %>