<% include partials/loginheader %>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui huge centered header">Login</h1>
        <form class="ui large form">
          <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <button class="ui inverted button" type="submit">Submit</button>
        </form>
    </div>
    
</div>

<% include partials/footer %>