<% include partials/loginheader %>

<!--<% if(error && error.length > 0) { %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <%= message %>
    </div>
  </div>
<% } %>-->
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui huge centered header">Login</h1>
        <form class="ui large form" action="/login" method="POST">
          <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <button class="ui inverted button" type="submit">Submit</button>
        </form>
    </div>
    
</div>

<% include partials/footer %>