<% include partials/header %>

<div class="ui container segment">
    <div class="ui header">
        <h1>Add New Friend</h1>
    </div>
    <form action="/friends" method="POST">
        <input type="text" name="friend[name]" placeholder="Name"></input>
        <input type="text" name="friend[image]" placeholder="Image link here"></input>
        <input type="text" name="friend[text]" placeholder="Text"></input>
        <input type="submit"></input>
    </form>
</div>

<% include partials/footer %>