<% include partials/resumeheader %>

<div class="ui container inverted segment">
    <div class="ui centered header">
        <h1 class="ui huge">Vishal Koosuri</h1>
        <a title="Github | Vishal" target="_blank" href="https://github.com/dainvinc"><i class="github icon"></i></a>|
        <a title="LinkedIn | Vishal" target="_blank" href="https://www.linkedin.com/in/vishal-koosuri/"><i class="linkedin icon"></i></a>
    </div>
    
    <div class="ui horizontal segments fixed address">
        <div class="ui segment">
            <p>Poughkeepsie <br>
            New York - 12601</p>
        </div>
        <div class="ui segment">
            <p><strong>Email: </strong>vishal.koosuri1@gmail.com <br>
            <strong>Ph. no: </strong>+1 845 264 9013</p>
        </div>
    </div>
    <hr>
    <h2 class="ui header">Education</h2>
    <div class="ui horizontal segments education">
        <h2 class="ui segment">
            Jan 2016 - Present <br>
            <i>Master of Science in Computer Science</i>
        </h2>
        <div class="ui segment">
            Marist College <br>
            Poughkeepsie <br>
            GPA 3.67
        </div>
    </div>
    
    <h2 class="ui header">Experience</h2>
    <div class="ui horizontal segments experience">
        <h2 class="ui segment">
            Oct 2016 - Present <br>
            <i>Student Web Developer</i>
        </h2>
        <div class="ui segment">
            Marist College <br>
            Poughkeepsie
        </div>
        <div id="fix-segment" class="ui segment">
            <ul class="ui list">
                <li>Opportunity to even work on mobile application development using Ionic framework.</li>
                <li>Responsible for programming and modifying some useful changes to Marist.edu.</li>
                <li>Played a key role in the content migration for one of the projects and also learned how it can be automated using Python.</li>
            </ul>
        </div>
    </div>
    <div class="ui horizontal segments experience">
        <h2 class="ui segment">
            Nov 2014 - Mar 2015 <br>
            <i>Android Developer Intern</i>
        </h2>
        <div class="ui segment">
            Uptec IdeaLabs <br>
            India
        </div>
        <div id="fix-segment" class="ui segment">
            <ul class="ui list">
                <li>Developed an android application termed as "iProfile Switcher" which also served as my undergraduate project.</li>
                <li>The application was aimed at providing the ease of switching the mobile profiles to various modes based on the location of the user.</li>
                <li>Awarded as one of the best UIs in the college for an Android application.</li>
            </ul>
        </div>
    </div>
    <div class="ui horizontal segments experience">
        <h2 class="ui segment">
            Apr 2012 - Mar 2014 <br>
            <i>Web Designer / Developer</i>
        </h2>
        <div class="ui segment">
            CIPL <br>
            India
        </div>
        <div id="fix-segment" class="ui segment">
            <ul class="ui list">
                <li>Hosted a seminar for more than 80 people about Web Design & Development Techniques.</li>
                <li>One of my websites acted as one of the useful websites for the college students during my Undergraduation. </li>
                <li>Hosted trainings on Adsense and personally received a check from an Ad Agency.</li>
            </ul>
        </div>
    </div>
    
    <h2 class="ui header">Skills</h2>
    <div class="ui horizontal segments experience">
        <div class="ui segment">
            <strong>Familiar With:</strong>
            <ul class="ui list"> 
                <li>Java</li>
                <li>Python</li>
                <li>HTML5, CSS3, Javascript, PHP</li>
            </ul>
            
        </div>
        <div class="ui segment">
            <strong>Working Knowledge:</strong>
            <ul class="ui list">
                <li>Javascript frameworks(ExpressJS and AngularJS)</li>
                <li>Databases(MongoDb and Firebase)</li>
            </ul>
        </div>
        <div class="ui segment">
            <strong>Tools</strong>
            <ul class="ui list">
                <li>C9, Git</li>
                <li>SublimeText 3, IntelliJ</li>
                <li>Netbeans, Eclipse</li>
            </ul>
        </div>
    </div>
  </div>
